.App {
  text-align: center;
  /* background: rgb(250, 249, 249); */
}

.App-logo {
  height: 15vmin;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: baseline; 
  font-size: calc(25px + 2vmin);
  font-family: 'Fjalla One', sans-serif;
  color: gray;
}

.App-header p {
  margin-left: 15%;
  margin-right: 2%;
  margin-bottom: 0.5em;
}

.container {
    width: 90%;
}

.row {
  justify-content: space-around;
}

.date {
  color: gray;
  font-size: calc(12px + 2vmin);
  font-family: 'Oswald', sans-serif;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 0,5em 0;
  padding: 0;
  width: 90%;
}

.row hr {
  width: 100%;
}

.copyright {
  font-size: calc(2px + 1.2vmin);
  margin-top: 3em;
  color: #ccc;
}